@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    list-style: none;
}

body{
    font-family: "Inter", sans-serif;
    color: #15163D;
    line-height: 27.5px;
    background-image: radial-gradient(circle at -221px -324px, #5974FF , white 40%);
    background-repeat: no-repeat;
    background-size: cover;
}

main, header, nav, footer{
    width: 83.33%;
    margin: auto;
}

header, section, nav, nav div, footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav div{
    width: 30%;
    justify-content: space-evenly;
}

section p, header p{
    font-weight: 300;
}

p, ul{
    font-size: 1rem;
}

section div, header div{
    width: 50%;
}

.cuarenta{
    width: 40%;
}

nav a{
    text-decoration: none;
    font-size: 16px;
    color: #15163D;
}

main img, header img{
    width: 100%;
}

nav{
    height: 29px;
}

h1, h2, h3{
    font-size: 3.68em;
    line-height: 100%;
}

ul, h1, h2, h3, h4, p{
    text-transform: capitalize;
}

header a, section a{
    font-size: 1rem;
    color: white;
    text-decoration: none;
    width: 37.5%;
    padding: 1rem;
    line-height: 1rem;
    background-color:#04146C;
    display: block;
    text-transform: uppercase;
    text-align: center;
    border-radius: 8px;
}

footer{
    justify-content: flex-start;
    align-items: flex-start;
}

footer ul{
    width: 16.66%;
}

footer p{
    width: 100%;
}

@media(max-width: 768px) {

    body {font-size: 68.9%;}
  

    main, header, nav, main footer, nav div, .cuarenta, section div, header div {
        flex-direction: column;
        width: 100%;
        align-items: center !important;
        text-align: center;
    } 

    header a, section a, h1, h2, p{
        width: 50%;
        margin: auto;
    }

    nav img{
        width: 8.33%;
    }

    .cuarenta{
        order: -1;
    }

}